apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # WorkflowTemplates
  - templates/hello-world.yaml
  - templates/postgres-backup.yaml
  - templates/cluster-health-check.yaml
  
  # CronWorkflows
  - cron/postgres-daily-backup.yaml
  - cron/cluster-weekly-health.yaml
  
  # RBAC
  - rbac/workflow-permissions.yaml
