apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: mqtt
data:
  mosquitto.conf: |
    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout

    allow_anonymous false
    password_file /mosquitto/config/passwords

    listener 1883
    protocol mqtt
