apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Note: Don't set namespace here - Helm chart handles it and workflows/rbac have specific namespaces

resources:
  - namespace.yaml
  - networking/ingress.yaml
  - workflows/

helmCharts:
  - name: argo-workflows
    repo: https://argoproj.github.io/argo-helm
    version: 0.47.1
    releaseName: argo-workflows
    namespace: argo-workflows
    valuesFile: values.yaml

labels:
  - pairs:
      app.kubernetes.io/name: argo-workflows
      app.kubernetes.io/component: workflow-orchestration
      app.kubernetes.io/managed-by: kustomize
    includeSelectors: false
