name: PR Lint

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  TERRAFORM_VERSION: "1.14.3"

jobs:
  # Terraform Lint
  terraform:
    name: terraform-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Terraform Format Check
        run: terraform fmt -check -recursive -diff
