# Hello World WorkflowTemplate - For Testing
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: hello-world
  namespace: argo-workflows
  labels:
    app.kubernetes.io/name: hello-world
    app.kubernetes.io/component: workflow-template
spec:
  entrypoint: main
  serviceAccountName: argo-workflow
  arguments:
    parameters:
      - name: message
        value: "Hello from Argo Workflows!"

  templates:
    - name: main
      steps:
        - - name: greet
            template: echo-message
        - - name: info
            template: cluster-info

    - name: echo-message
      container:
        image: alpine:3.19
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "hello world"
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 64Mi
